In [79]:
import pandas as pd
import numpy as np
import random
# change code cells width
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:70% !important; }</style>"))

C:\Users\gracj\AppData\Local\Temp\ipykernel_17464\49583723.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [81]:
df = pd.read_csv("../data/train.csv")
df

,id,id_sreality,street,district,county,address,disposition,description,price,currency,...,terace_exist,terace,area_built_up,area_garden,garage_exist,garage,starting_price,flat_type,latitude,longitude
0,0,211172956,Konžská,Vokovice,Praha 6,"Konžská, Praha 6 - Vokovice",2+1,"AKCE = Stát slíbil, že se nebude platit 4% d...",5460000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.096155,14.351234
1,1,211680348,Koperníkova,Židenice,Brno,"Koperníkova, Brno - Židenice",2+kk,"Novostavba luxusního bytu 2+kk s terasou, nová...",6740000.0,Kč,...,1.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,49.201747,16.637873
2,2,221724252,Pekařská,Frýdek,Frýdek-Místek,"Pekařská, Frýdek-Místek - Frýdek",3+1,"Prodej bytu 3+1 v os. vl., 76 m2, 1.NP, na ul....",1590000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.678780,18.358891
3,3,216161372,U Mlékárny,NaN,Bystřice pod Hostýnem,"U Mlékárny, Bystřice pod Hostýnem",3+1,Naše společnost Vám zprostředkuje Nabízíme Vám...,2590000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.402031,17.677481
4,4,216358492,Na křečku,Horní Měcholupy,Praha 10,"Na křečku, Praha 10 - Horní Měcholupy",3+1,"Ul. Na Křečku, klidné místo sídliště Horní Měc...",4790000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.043005,14.561770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48658,48658,4285537372,Horoušanská,NaN,Nehvizdy,"Horoušanská, Nehvizdy",1+kk,Prodej malého bytu v Nehvizdech (Praha-Východ)...,1290000.0,Kč,...,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,50.117336,14.732274
48659,48659,4285582940,Smetanova,NaN,Zlín,"Smetanova, Zlín",3+kk,"Poslední volný byt s vlastní zahradou, včetně ...",4998500.0,Kč,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.230147,17.664527
48660,48660,4287508060,Pražská,NaN,Znojmo,"Pražská, Znojmo",3+1,Nabízíme k prodeji byt 3+1 ve čtvrtém nadze...,2400000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.867792,16.033927
48661,48661,4287560796,Filipova,Bystrc,Brno,"Filipova, Brno - Bystrc",3+1,Brněnská přehrada je oblíbenou lokalitou pro v...,4450000.0,Kč,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.219693,16.525947
48662,48662,4291357788,28. října,NaN,Hlučín,"28. října, Hlučín",3+1,Nabízíme Vám ke koupi byt 3+1 v os. vl. v žáda...,2580000.0,Kč,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,49.891730,18.193557

In [82]:
df.isnull().sum()

id                        0
id_sreality               0
street                  723
district              18155
county                    0
address                   0
disposition               0
description               0
price                     0
currency                  0
download_date             0
price_note            24279
structure                 0
building_state            0
ownership                 0
floor                     0
area                      0
area_floor            17116
energy_performance     6307
balcony_exist         35591
balcony               41322
elevator              14704
cellar_exist          16511
cellar                31167
furnished             23932
barrier_free          35157
lodge_exist           37194
lodge                 43349
terace_exist          44737
terace                45788
area_built_up         47862
area_garden           47733
garage_exist          44360
garage                44360
starting_price        48663
flat_type             48004
latitude                  0
longitude                 0
dtype: int64

In [83]:
def nunique_null_sum(df):
    print(f'Unique valuse {df.nunique()}')
    print(f'How many values {df.count()}')
    print(f'How many null {df.isnull().sum()}')

## Czyszczenie danych

### Nic nie znaczące dane, ponieważ id = index, id_dreality to losowe liczby, description jest niemożliwe do użycia

In [84]:
df.drop(['id', 'id_sreality', 'description'], axis=1, inplace=True)

### Są tylko korony więc trzeba usunąć

In [85]:
nunique_null_sum(df['currency'])

array(['Kč'], dtype=object)

In [86]:
df.drop(['currency'], axis=1, inplace=True)

### Dalsze badanie

In [87]:
nunique_null_sum(df['street'])

Unique valuse 6904
How many values 47940
How many null 723

In [88]:
nunique_null_sum(df['district'])

Unique valuse 670
How many values 30508
How many null 18155

In [89]:
nunique_null_sum(df['county'])

Unique valuse 849
How many values 48663
How many null 0